[submodule "Tp-Duck-Game-7"]
	path = Tp-Duck-Game-7
	url = https://github.com/FacuGerez/Tp-Duck-Game-7.git
[submodule "examenes"]
	path = examenes
	url = https://github.com/Taller-de-Programacion/examenes.git
